@import "./Variables.scss";

#home {
  button {
    cursor: pointer;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 2rem;
    article {
      h4 {
        padding-bottom: 2rem;
      }
      img {
        width: 15rem;
        transition: transform 0.5s ease-in-out;
      }
      img:hover {
        transform: scale(1.2);
      }
    }
  }
  .articles-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .section-class-spec {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $breakpoint-desktop) {
  #home {
    .articles-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
