@import "./Variables.scss";

#personbyid {
  .personbyid-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    margin-bottom: 3rem;
  }
  .spec-img {
    width: 5rem;
    border-radius: 3rem;
  }
  .classe-img {
    width: 15rem;
  }
  .specs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    box-shadow: $green-box-shadow;
  }
  .back-link {
    position: absolute;
    top: 14rem;
    width: 9rem;
    padding: 0.5rem;
    border-radius: 5rem;
    background-color: rgb(19, 160, 54);
  }
  .fa-arrow {
    padding-right: 1rem;
  }
  .comment-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 2rem;
  }
  .comment-add {
    width: 100%;
    min-height: 10rem;
    background-color: rgb(102, 102, 102, 0.6);
    border: none;
    border-radius: 1rem;
    color: $white;
    padding: 1rem;
    resize: none;
  }
  textarea {
    outline: none;
    margin-bottom: 1rem;
  }
  textarea::placeholder {
    color: $white;
    text-align: center;
  }
  button {
    width: 80%;
    height: 3rem;
    align-self: center;
  }
  .button-disabled {
    background-color: $disabled-green;
  }
  .button-enabled {
    background-color: $enabled-green;
    cursor: $pointer;
    border: $enabled-border;
    box-shadow: $green-box-shadow;
  }
  .alert {
    position: relative;
    bottom: -1.5rem;
    left: 11rem;
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    color: rgba(255, 0, 0, 0.5);
    cursor: $pointer;
    :hover {
      color: $red;
    }
  }
  .comment-content {
    word-break: break-all;
  }
  .comment-title {
    margin-bottom: 2rem;
  }
}

@media (min-width: $breakpoint-tablet) {
  #personbyid {
    .specs {
      width: 80%;
    }
  }
}
