@import "./Variables.scss";

#person {
  section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0 1rem 2rem 1rem;
    max-height: 100vh;
    overflow-y: auto;
  }
  section::-webkit-scrollbar {
    width: 1.5rem;
  }
  section::-webkit-scrollbar-track {
    background: rgba(18, 155, 64, 0.1);
    border-radius: 1rem;
  }
  section::-webkit-scrollbar-thumb {
    background: #7e7272;
    border-radius: 1rem;
  }
  section::-webkit-scrollbar-thumb:hover {
    background: #695555;
  }
  article {
    border-top: 0.1rem solid $white;
    padding: 2rem;
    h4 {
      padding-bottom: 1rem;
    }
  }

  img {
    width: 25rem;
  }

  .person-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    transition: transform 0.5s ease-in-out;
  }

  .person-card:hover {
    transform: scale(1.1);
  }

  .search-classe {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 0.5rem;
    border: none;
    border-radius: 2rem;
    box-shadow: $green-box-shadow;
    outline: none;
  }
}

@media (min-width: $breakpoint-tablet) {
  #person {
    .search-classe {
      width: 60%;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  #person {
    .search-classe {
      width: 50%;
    }
  }
}
